#message-bar-container {
	width: 100%;
	z-index: 1000;
	overflow: hidden;
}

.message-bar {
	font-family: sans;
	font-size: 1.4em;
	text-align: center;
	opacity: 0;
	justify-content: centre;
	background-color: var(--message-bg);
	color: var(--message-fg);
	transform: translateY(-100%);
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	cursor: pointer;
	padding: .4em;
	box-shadow: 0em 0em .4em .1em rgba(0, 0, 0, 0.3);
	margin: 1em;
	border-radius: .4em;
}

.message-bar.show {
	transform: translateY(0%);
	opacity: 1;
}

.message-bar.success {
	background-color: green;
}

.message-bar.warning {
	background-color: yellow;
}

.message-bar.info {
	background-color: blue;
}

.message-bar.error {
	background-color: red;
}