@charset "UTF-8";

.table-container {
	display: flex; 
	justify-content: center;
	margin: 3em 0 0 0;
	align-items: center;
	flex-direction: column;
}

table {
	table-layout: auto;
	max-width: 90%;
	width: auto;
	border: 1px solid black;
	border-collapse: collapse;
	
}

th, td {
	padding: .4em;
	text-align: center;
	border: 1px solid black;
	word-wrap: break-word; 
}

 .hidden-column {
    display: none;
  }
  
 #table-title{
 font-family: serif;
 font-weight: bold;
 font-size: 1em;
 padding: 0 0 0 0;
 }