<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8" />
<link rel="stylesheet" href="/common/css/login.css">
<link rel="stylesheet" href="/widgets/messageBar/css/messagebar.css">
<script type="text/javascript" src="/widgets/messageBar/js/messagebar.js"></script>

<title>Login</title>

</head>

<body class="dark-theme">
	<div id="message-bar-container"></div>
	<div class="login-main-container">
	
		<form name="login-form" th:action="@{/login}" method="post">
			<div class="login-form-container">
				<label class="login-form-title">Login</label> 
				<label  class="login-form-label">Username</label> 
					<input type="text" placeholder="Enter username" class="login-form-input" name="username" required> 
				<label class="login-form-label">Password</label> 
					<input type="password" placeholder="Enter password" class="login-form-input" name="password" required>
				<div class="remember-me">
					<label class="login-form-label">Remember</label>
					<input type="checkbox" name="remember-checkbox" />
				</div>	 
				<input type="submit" class="login-form-button" name="password-input" value="Log in">
			</div>
		</form>
	</div>
</body>
</html>